[run]
source = .
omit =
    */migrations/*
    /migrations/
    /__init__.py
    */venv/*
    */.venv/*
    */env/*
    */tests/*
    manage.py
    */settings/*
    */node_modules/*
    */static/*
    */media/*
    */__pycache__/*
    */__init__.py
    */settings.py
    */asgi.py
    */wsgi.py
    */apps.py

[report]
skip_empty = True
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod


[html]
directory = htmlcov