asgiref==3.7.2
Django==4.2
django-ckeditor-5==0.2.9
Pillow==10.0.1
python-dotenv==1.0.0
sqlparse==0.4.4
psycopg2-binary
sorl-thumbnail==12.11.0
requests==2.31.0
gunicorn==20.0.4
transliterate
django-widget-tweaks
djoser
djangorestframework
djangorestframework-simplejwt
pytest
pytest-django
python-dateutil
