{% extends 'base.html' %}

{% load static %}

{% block title %}
    Курсы
{% endblock %}

{% block content %}
{% block static %}
    <link href={% static "css/courses_list.css" %} rel="stylesheet"/>
{% endblock %}
    <section class="section-products">
		<div class="container">
				<div class="row">
                    {% for course in courses %}
						<div class="col-md-6 col-lg-4 col-xl-3">
								<div id="product-1" class="single-product">
										<div class="part-1">
                                            <a href={% url "lesson:course_detail" course.name %}>
                                            <img src={{ course.image.url }}>
                                            </a>
										</div>
										<div class="part-2">
												<h3 class="product-title">{{ course.name }}</h3>
												<h4 class="product-old-price">${{ course.price }}</h4>
												<h4 class="product-price">₽{{ course.price }}</h4>
										</div>
								</div>
						</div>
                    {% endfor %}
				</div>
		</div>
</section>
{% endblock %}

