{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}
{% endblock %}

{% block content %}
    <div class="container py-5">
    {% if user.image %}
        {% thumbnail user.image "960x339" crop="center" upscale=True as im %}
        <img class="card-img-top" src={{ im.url }}>
        {% endthumbnail %}
    {% endif %}
        <a>{{ user.get_full_name }}</a>
        {% if user.is_staff %}
            <h1>Модератор</h1>
        {% endif %}
        {% if is_student %}
            <h1>Прохожу курсы:</h1>
            {% for course in learn_courses %}
                <a>{{ course.name }}</a>
            {% endfor %}
        {% endif %}
        {% if is_teacher %}
            <h1>Преподаю курсы:</h1>
            {% for course in teach_courses %}
                <a>{{ course.name }}</a>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

