{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>#}
{#        {% block title %}#}
{#        {% endblock %}#}
{#    </title>#}
{#</head>#}
{#<body>#}

{#</body>#}
{#</html>#}

{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href={% static "css/bootstrap.css" %}>
    <title>
        {% block title %}
        {% endblock %}
    </title>

</head>
<body>
{% include "includes/header.html" %}
{% block content %}
{% endblock %}
{% include "includes/footer.html" %}
</body>
</html>
