name: PyDep & MyTutor workflow

on: [push]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: | 
        pip install flake8
        pip install -r requirements.txt

    - name: Tests
      run: |
        python -m flake8
        pytest -c pytest.ini


#  build_and_push_web_to_docker_hub:
#      name: Push backend image to Docker Hub
#      runs-on: ubuntu-latest
#      needs: tests
#      steps:
#        - name: Check out the repo
#          uses: actions/checkout@v2
#        - name: Set up Docker Buildx
#          uses: docker/setup-buildx-action@v1
#        - name: Login to Docker
#          uses: docker/login-action@v1
#          with:
#            username: ${{ secrets.DOCKER_USERNAME }}
#            password: ${{ secrets.DOCKER_PASSWORD }}
#        - name: Push to Docker Hub
#          uses: docker/build-push-action@v2
#          with:
#            push: true
#            tags: jeniks/pyped_web:v0.0.5
